kapture>=1.1.8,<1.2.0
numpy==1.20
numpy-quaternion
numba
cvxpy>=1.1.6
tabulate>=0.8.7
opencv-python
tqdm>=4.36.0
matplotlib
plotly
scipy
h5py
pycolmap
kornia>=0.6.11
gdown
scikit-learn==0.22
torch==2.1.0
torchvision==0.16.0